/* dialogs */
.std42-dialog, .std42-dialog .ui-widget-content { background-color:#ededed; background-image:none; background-clip: content-box; }
.std42-dialog .ui-dialog-titlebar{padding: 12px 10px 10px; font-size: 11px; font-weight: bold;}
.std42-dialog .ui-dialog-content{font-size: 11px; padding: 10px 10px 10px 56px; border-color: #F5F5F5;}
.std42-dialog .ui-dialog-buttonpane button {padding: 4px 14px; font-size: 11px;}


.elfinder-cwd-wrapper{background-color: #FFF;}
.elfinder-button-search input{border-radius: 3px; margin-bottom: 0px;}
.elfinder-toolbar{background-color: #F1F1F1; border-bottom: 1px solid #CCC;}
.elfinder .elfinder-statusbar{background-color: #F1F1F1; border-top: 1px solid #CCC;}

.elfinder .elfinder-button:hover{background-color: #FFF !important;}

.elfinder-cwd-view-icons .ui-selected{background: #F4F9FF !important; border: 1px solid #DAE5F2; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.elfinder-cwd-view-icons .elfinder-cwd-filename {font-size: 10px; background-color: transparent;}

.elfinder-quicklook-title{font-size: 11px; padding: 5px;}

.elfinder-workzone{clear:both;}
.ui-helper-clearfix:after{clear:both;}

/* navbar */
.elfinder .elfinder-navbar { background: #F5F5F5; border-right: 1px solid #DDD; font-size: 10px;}
.elfinder-navbar .ui-state-hover  { background:transparent; border-color:transparent; }
.elfinder-navbar .ui-state-active { background: #587BA1; border-color: #55779B; color:#fff; padding: 4px 12px 4px 35px; margin-bottom: 1px; }
/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active { background: #F1F1F1; border-color:#DDD; color:#666; padding: 4px 12px 4px 35px; margin-bottom: 1px; }



/* current directory */
.elfinder-cwd-file{border: 1px solid #FFF;}

/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover { background: transparent; }
/* list view*/
.elfinder-cwd table tr:nth-child(odd) { background-color:#edf3fe; }
.elfinder-cwd table tr { border-top:1px solid #fff; }

/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover { background: transparent; color:#333; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-disabled .elfinder-cwd table td.ui-state-hover { background:#dadada;}

/* statusbar */
.elfinder .elfinder-statusbar { color:#555; }
.elfinder .elfinder-statusbar a { text-decoration:none; color:#555;}


.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content { background:#fff;}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover { background: #3875d7; color:#fff; }
.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow { background-image:url('../img/arrows-active.png'); }

.elfinder-statusbar{padding: 5px;}
.elfinder-statusbar div{font-size: 10px;}




